.additional-products {
  width: 320px;
}

.additional-products__promo {
  position: relative;
}

.additional-products__promo::after {
  content: "";
  position: absolute;
  background-image: url("/img/photo-cat-2.jpg");
  background-repeat: no-repeat;
  width: 280px;
  height: 290px;
  top: 0;
  left: 0;
  z-index: 0;
}

.additional-products__promo::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 280px;
  height: 290px;
  background-color: #68b738;
  z-index: 1;
  opacity: 0.85;
}

.additional-products__list {
  @include list-reset;
  display: grid;
  grid-template-columns: repeat(1, 280px);
  gap: 30px;
  padding-bottom: 54px;
}

.additional-products__item {
  display: grid;
  grid-template-columns: repeat(2, 140px);
  gap: 15px 0px;
  align-items: center;
  position: relative;
}

.additional-products__item::before {
  content: "";
  position: absolute;
  width: 280px;
  border: solid 1px $line-color;
  top: -12px;
  left: 0;
}

.additional-products__item-button {
  display: grid;
  grid-column: span 2;
}

.additional-products__title {
  margin: 0;
  font-size: 24px;
  line-height: 24px;
  margin-bottom: 50px;
  font-weight: 400;
  font-family: $font;
  color: $text-color;
  position: relative;
}

.additional-products__title::after {
  content: "";
  position: absolute;
  width: 320px;
  border: solid 1px $p-bg-color;
  top: -10px;
  left: -20px;
}

.additional-products__title::before {
  content: "";
  position: absolute;
  width: 54px;
  border: solid 2px $btn-bg-color;
  top: 15px;
  right: -20px;
}

.additional-products__item-subtitle {
  display: grid;
  grid-column: span 2;
  margin: 0;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  text-transform: uppercase;
  font-family: $font;
  color: $text-color_2;
}

.additional-products__item-text {
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  color: $text-color_4;
  text-align: left;
}

.additional-products__item-price {
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  color: $text-color_4;
  text-align: right;
}

.additional-products__line {
  position: relative;
}

.additional-products__line::after {
  content: "";
  position: absolute;
  width: 280px;
  border: solid 1px $line-color;
  top: 0;
  left: 0;
}

.additional-products__promo-text {
  margin: 0;
  padding-top: 187px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: $bg-color;
  text-align: center;
  position: relative;
  z-index: 2;
}

.additional-products__promo-text::after {
  content: "";
  position: absolute;
  background-image: url("/img/gift.svg");
  background-repeat: no-repeat;
  width: 78px;
  height: 80px;
  top: 60px;
  left: 100px;
  z-index: 2;
}
