.additional-products__title {
  margin: 0;
  font-size: 24px;
  line-height: 24px;
  padding-bottom: 50px;
  font-weight: 400;
  font-family: "Oswald", sans-serif;
  color: #000000;
}

.additional-products__item-subtitle {
  display: grid;
  grid-column: span 2;
  margin: 0;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
  color: #222222;

}

.additional-products__item-text {
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  color: #444444;
  text-align: left;
}

.additional-products__item-price {
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  color: #444444;
  text-align: right;
}

.additional-products__promo-text {
  margin: 0;
  padding-top: 187px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #ffffff;
  text-align: center;
}
