.additional-products {
  padding: 25px 20px 35px 20px;
}

.additional-products__promo {
  width: 280px;
  height: 290px;
  background-image: url("/img/photo-cat-2.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

