.additional-products__list {
  display: grid;
  grid-template-columns: repeat(1, 280px);
  gap: 30px;
  margin: 0;
  padding: 0;
  list-style: none;
  padding-bottom: 54px;
}

.additional-products__item {
  display: grid;
  grid-template-columns: repeat(2, 140px);
  gap: 15px 0px;
  align-items: center;
}

.additional-products__item-button {
  display: grid;
  grid-column: span 2;
}
