.advantages {
  width: 320px;
}

.container--anoter {
  padding: 20px;
}

.advantages__title {
  margin: 0;
  font-size: 36px;
  line-height: 40px;
  margin-bottom: 40px;
  font-weight: 400;
  font-family: $font;
  color: $text-color;
}

.advantages__text {
  margin: 0;
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 18px;
}

.advantages__list {
  @include list-reset;
}

.advantages__item {
  margin-left: 80px;
}

.advantages__item-decoration {
  position: relative;
}

.advantages__item-decoration::after {
  content: "";
  position: absolute;
  top: 0;
  left: -80px;
  width: 60px;
  height: 60px;
  background-color: $btn-bg-color;
  z-index: 0;
}

.advantages__item:nth-child(1) .advantages__item-decoration::before {
  content: "";
  position: absolute;
  background-image: url("/img/functional-food-photo-1.svg");
  background-repeat: no-repeat;
  background-position: center;
  top: 0;
  left: -80px;
  width: 60px;
  height: 60px;
  z-index: 1;
}

.advantages__item:nth-child(2) .advantages__item-decoration::before {
  content: "";
  position: absolute;
  background-image: url("/img/functional-food-photo-2.svg");
  background-repeat: no-repeat;
  background-position: center;
  top: 0;
  left: -80px;
  width: 60px;
  height: 60px;
  z-index: 1;
}

.advantages__item:nth-child(3) .advantages__item-decoration::before {
  content: "";
  position: absolute;
  background-image: url("/img/functional-food-photo-3.svg");
  background-repeat: no-repeat;
  background-position: center;
  top: 0;
  left: -80px;
  width: 60px;
  height: 60px;
  z-index: 1;
}

.advantages__item:nth-child(4) .advantages__item-decoration::before {
  content: "";
  position: absolute;
  background-image: url("/img/functional-food-photo-4.svg");
  background-repeat: no-repeat;
  background-position: center;
  top: 0;
  left: -80px;
  width: 60px;
  height: 60px;
  z-index: 1;
}
