.catalog__title {
  margin: 0;
  padding-bottom: 41px;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  font-family: "Oswald", sans-serif;
  color: #000000;
}

.product__subtitle {
  margin: 0;
  padding-bottom: 14px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  font-family: "Oswald", sans-serif;
  color: #222222;
}

.product__text {
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  color: #444444;
}

.catalog__list {
  display: grid;
  grid-template-columns: repeat(1, 280px);
  gap: 25px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.catalog__item {
  display: grid;
  grid-template-columns: repeat(2,140px);
  align-items: center;
  gap: 20px 0px;
}

.product__link {
  display: grid;
  justify-items: center;
}

.product__button {
  display: grid;
  grid-column: span 2;
}

.product__text {
  display: grid;
  grid-template-columns: repeat(2,70px);
}

.product__subtitle--all-product {
  padding-top: 78px;
  padding-bottom: 8px;
}

.product__text--all-product {
  display: block;
  margin: 0;
  padding-bottom: 20px;
}

.catalog__item--all-product {
  display: flex;
  flex-direction: column;
  gap: 0;
}

.product__button--all-cards {
  background-color: #f2f2f2;
  color: #444444;
  padding: 10px 95px;
}
