.form__fieldset-border {
  position: relative;
}

.form__fieldset-border::after {
  content: "";
  position: absolute;
  width: 320px;
  border: 1px solid $n-bg-color;
  top: -20px;
  left: -20px;
}

.form__fieldset-border::before {
  content: "";
  position: absolute;
  width: 320px;
  border: 1px solid $n-bg-color;
  bottom: -20px;
  left: -20px;
}

.fieldset__list {
  @include list-reset;
}

.fieldset__item {
  margin-bottom: 14px;
}

.fieldset__title {
  font-size: 24px;
  line-height: 26px;
  font-weight: 400;
  font-family: $font;
  color: $text-color;
  margin-bottom: 45px;
}

.fieldset__title-another {
  padding-top: 45px;
}

.fieldset__title--distance {
  padding-bottom: 35px;
}

.fieldset__label {
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  font-family: $font;
  color: $text-color_4;
}

.fieldset__control {
  padding: 15px;
  border: 1px solid $line-color;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  font-family: $font;
  color: $text-color_4;
}

.fieldset__control--input-border {
  border: 1px solid $input-br-color;
}
