.main-navigation__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-navigation__link {
  display: block;
  font-size: 20px;
  line-height: 20px;
  font-weight: 400;
  font-family: "Oswald", sans-serif;
  text-decoration: none;
  color: #000000;
  text-transform: uppercase;
}
