.main-navigation__wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateX(-100%);
}

.main-navigation__wrapper.active {
  transform: translateX(0);
  z-index: 4;
  transition: transform 0.5s;
}

.main-navigation {
  display: flex;
  justify-content: center;
}

.main-navigation__list {
  @include list-reset;
  margin-top: 65px;
  padding: 22px 75px 1px 76px;
  background-color: $bg-color;
}

.main-navigation__link {
  display: block;
  font-size: 20px;
  line-height: 20px;
  font-weight: 400;
  font-family: $font;
  text-decoration: none;
  color: $text-color;
  text-transform: uppercase;
}

.main-navigation__item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 46px;
  position: relative;
}

.main-navigation__item::after {
  content: "";
  position: absolute;
  width: 320px;
  border: solid 1px $n-bg-color;
  top: -22px;
  left: -77px;
}

.main-navigation__list:last-of-type .main-navigation__item:last-child {
  margin-bottom: 22px;
}
