// Переменные

// Шрифт
$font: "Oswald", sans-serif;

// Цвет
$text-color: #000000;
$text-color_1: #111111;
$text-color_2: #222222;
$text-color_4: #444444;
$text-color_6: #666666;
$bg-color: #ffffff;
$btn-bg-color: #68b738;
$a-bg-color: #f2f2f2;
$n-bg-color: #d9d9d9;
$p-bg-color: #e5e5e5;
$price-bg-color: #eaeaea;
$line-color: #cdcdcd;
$input-br-color: #e7e7e7;
